<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head') %>
  <body>
    <div class="header-home">
      <%- include('partials/navbar') %>
      <div class="wrapper">
        <h1>Bem vindo ao TheBlog Node</h1>
        <p></p>
        
        <button class="button-register">
          <a href="#">Cadastre-se</a>
        </button>
      </div>
    </div>

    <div class="wrapper">
      <h2>Postagens recentes</h2>
      <hr/>
      <% if (posts.length> 0) { %>
        <% posts.forEach((post)=> { %>
          <div class="post">
            <small><%= post.date %></small>
            <div class="header">
              <h3><%= post.title %></h3>
            </div>
            
            <p class="description"><%= post.description %></p>
            <hr>
            <div class="footer-post">
              <p >Categoria: <%= post.category.name_category %></p>

              <div class="view-more">
                <a href="#">Ver mais</a>
                <svg 
                  width="15" 
                  height="24" 
                  viewBox="0 0 24 24" 
                  fill="none" 
                  xmlns="http://www.w3.org/2000/svg">
                  <path 
                    d="M5 12H19" 
                    stroke="#4FFF4B" 
                    stroke-width="2" 
                    stroke-linecap="round" 
                    stroke-linejoin="round"
                  />
                  <path 
                    d="M12 5L19 12L12 19" 
                    stroke="#4FFF4B" 
                    stroke-width="2" 
                    stroke-linecap="round" 
                    stroke-linejoin="round"
                    />
                </svg>
              </div>
            </div>
          </div>
        <% }); %>
      <%} else { %>
        <div class="post">
          <p>Não há postagens cadastradas</p>
        </div>
      <%} %>
    </div>
  </body>

  <%- include('./partials/footer') %>
</html>
