<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>
  <body>
    <%- include('../partials/navbar') %>
      <%- include('../partials/success') %>

      <div class="wrapper">
        <div class='list-category'>
          <h2>Listas de categorias</h2>
          <a href="/admin/categories/add">
            <button class="button-create"><p>Criar categoria</p></button>
          </a>
        </div>
        <hr>
        <ul class="category-description">
          <% if (category.length > 0) { %> 
            <% category.forEach((cat) => { %>
              <li>
                <div class="header">
                  <h3><%= cat.name_category %></h3>
                  <div class="buttons">
                    <a class="button-edit" href="/admin/categories/edit/<%= cat.id %>">Editar</a>
                    <form method="post" class="form-submit" action="/admin/categories/delete/<%= cat.id %>">
                      <button type="submit" class="button-delete">Delete</button>
                    </form>
                  </div>
                </div>
                <p><%= cat.slug %></p>
                <small><%= cat.date %></p></small>
              </li>
            <% }); %>
          <% } else { %>
            <li>
              <p>Não há categorias cadastradas</p>
            </li>
          <% } %>
        </ul>
      </div>

    <%- include('../partials/footer') %>
  </body>
</html>
