<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>
  <body>
    <%- include('../partials/navbar') %>
    <div class="wrapper">
      <% err.forEach((e) =>{ %>
      <div class="alert-message"><%= e.message %></div>
      <% }) %>

      <span>
        <h2>Editar categoria</h2>
        <hr />
      </span>

      <div class="category-editing">
        <h3><%= category.name_category %></h3>
        <p><%= category.slug %></p>
        <small><%= category.date %></p></small>
      </div>

      <form action="/admin/categories/edit/<%= category.id %>" method="post">
        <label for="name">
          Novo name:   
        <input id="name" name="name" type="text" placeholder="Nome categoria" />
        </label>
    
        <label for="slug">
          Novo slug:
          <input id="slug" name="slug" type="text" placeholder="Nome slug" />
        </label>
    
        <button class="button-add" type="submit">Editar</button>
      </form>
    </div>
  </body>
</html>
