<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>
  <body>
    <%- include('../partials/navbar') %>
    <div class="wrapper">
      <% if (success.length > 0) { %>
        <div class="success-message">
          <%= success %>
        </div>
      <% } %> 

      <div class='list-category'>
        <h2>Listas de categorias</h2>
        <a href="/admin/categories/add">
          <button class="button-create"><p>Criar categoria</p></button>
        </a>
      </div>
      <hr>
     
      <ul class="category-description">
        <% category.forEach((cat) => { %>
        <li>
          <div class="header-category">
            <h3><%= cat.name_category %></h3>
            <button class="button-delete"><p>Deletar</p></button>
          </div>
          <p><%= cat.slug %></p>
          <small><%= cat.date %></p></small>
        </li>
        <% }); %>
      </ul>

    </div>
  </body>
  <%- include('../partials/footer') %>
</html>
