<!DOCTYPE html>
<html lang="pt-br">
  <%- include('../partials/head') %>
  <body>
    <%- include('../partials/navbar') %>
      <%- include('../partials/success') %>
      
      <% err.forEach((e) =>{ %>
        <div class="alert-message"><%= e.message %></div>
      <% }) %>

      <div class="wrapper">
        <div class="list-posts">
          <h2>Listando Postagens</h2>
          <a href="/admin/posts/add">
            <button class="button-create">Criar postagem</button>
          </a>
        </div>
        <hr />
        <ul class="category-description">
          <% if (posts.length > 0) { %>
            <% posts.forEach((post) => { %>
              <li>
                <div class="header">
                  <h3><%= post.title %></h3>

                  <div class="buttons">
                    <a class="button-edit" href="/admin/posts/edit/<%= post.id %>">Editar</a>
  
                    <form 
                      method="post" 
                      class="form-submit" 
                      action="/admin/posts/delete/<%= post.id %>">
                      <button type="submit" class="button-delete">Delete</button>
                    </form>
                  </div>
                </div>
                <p>
                  <strong>Descrição:</strong> <%= post.description %>
                </p>
                <p>
                  <strong>Conteudo:</strong> <%= post.content %>
                </p>
                <div class="category-posts">
                  <strong>Categoria:</strong> <%= post.category.name_category %>
                </div>
                <small><%= post.date %></small>
              </li>
            <% }); %>
          <% } else { %>
            <li>
              <p>Não há postagens cadastradas</p>
            </li>
          <% } %>
        </ul>
      </div>
    </div>
      
    <%- include('../partials/footer') %>
  </body>
</html>
