<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>
  <body>
    <%- include('../partials/navbar') %>
    <div class="wrapper">
     <%- include('../partials/err') %>

      <span>
        <h2>Editar Postagem</h2>
        <hr />
      </span>

      <div class="post-editing">
        <h3><%= post.title %></h3>
        <p>
          <strong>Descrição:</strong> <%= post.description %>
        </p>
        <p>
          <strong>Conteudo:</strong> <%= post.content %>
        </p>
        <div class="category-post-editing">
          <strong>Categoria:</strong> <%= post.category.name_category %>
        </div>
        <small class="editing"><%= post.date %></small>
      </div>

      <form action="/admin/posts/edit/<%= post.id %>" method="POST">
        <label class="label-posts" for="title">
          Título:
          <input type="text" name="title" placeholder="Titulo" />
        </label>

        <label class="label-posts" for="description">
          Descrição:
          <textarea
            name="description"
            placeholder="Descrição"
          ></textarea>
        </label>

        <label class="label-posts" for="content">
          Conteudo:
          <textarea
            name="content"
            placeholder="Conteudo"
          ></textarea>
        </label>

        <label class="label-posts" for="category">
          Categoria:
          <select name="category">
            <% if (categories.length > 0) { %>
              <% categories.forEach((category) => { %>
                <option value="<%= category.id %>">
                <%= category.name_category %>
                </option>
              <% }); %>
            <% } else { %>
              <option value="0">Nenhuma categoria cadastrada</option>
            <% } %>
          </select>
        </label>
        
        <button class="button-create button-create-posts" type="submit">
          Editar postagem
        </button>
      </form>
    </div>
  </body>

  <%- include('../partials/footer') %>
</html>
