<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>
<body>
  <%- include('../partials/navbar') %>
  <div class="wrapper">
    <h2>Categoria: 
      <span><%= posts[0].category.name_category %></span>
    </h2>
    <hr>
    <% posts.forEach((post)=> { %>
      <div class="post">
        <small><%= post.date %></small>
        <div class="header">
          <h3><%= post.title %></h3>
        </div>
        
        <p class="description"><%= post.description %></p>
        <hr>
        <div class="footer-post">
          <p >Categoria: <%= post.category.name_category %></p>

          <%- include('../partials/footerPost', { post })%>
        </div>
      </div>
    <% }); %>
  </div>
</body>
</html>